.home .title {
    font-size: 3rem; /* rem é uma unidade relativa que faz relação com a raiz da página (seu tamanho padrão) */
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
}